* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.content {
    background-color:#55cad7;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}


.settings-icon {
    background: #fff;
    position: fixed;
    top: 35px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    border: #1b1b1b;
}

.icon {
    position: fixed;
    top: 35px;
    right: 80px;
    font-size: 24px;
    cursor: pointer;
}

#setting-caidat {
    display: none;
    position: absolute;
    background-color: #fff;


}

.settings-icon:hover #setting-caidat {
    display: block;
    font-size: 14px;
    height: 200px;
    width: 150px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    top: 100%;
    right: 5px;
    white-space: nowrap;
}
/* CSS cho icon */
.settings-icon i {
    font-size: 24px; /* Kích thước biểu tượng */
    color: #333; /* Màu sắc biểu tượng */
}

/* CSS cho phần Cài đặt */
.settings-icon #setting-caidat {
    display: none; /* Ẩn phần Cài đặt ban đầu */
    position: absolute;
    background-color: #fff; /* Màu nền của phần Cài đặt */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng cho phần Cài đặt */
    padding: 10px; /* Khoảng cách bên trong phần Cài đặt */
    z-index: 1; /* Đặt z-index để nằm trên cùng */
}

/* CSS khi hover chuột lên phần icon */
.settings-icon:hover #setting-caidat {
    display: block; /* Hiển thị phần Cài đặt khi hover chuột */
}

/* CSS cho các liên kết bên trong phần Cài đặt */
.settings-icon #setting-caidat a {
    text-decoration: none; /* Loại bỏ gạch chân cho các liên kết */
    color: #333; /* Màu sắc của các liên kết */
    display: block; /* Hiển thị các liên kết trên từng dòng */
    padding: 5px 0; /* Khoảng cách giữa các liên kết */
}

/* CSS khi hover chuột lên các liên kết bên trong phần Cài đặt */
.settings-icon #setting-caidat a:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}
