<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="public/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <h1>create Product</h1>
        <form action="/create" method="post" enctype="multipart/form-data">
            name:
            <input type="text" name="name" class="form-control">
            detail 
            <input type="text" name="detail" class="form-control">
            image:
            <input type="file" name="image" class="form-control">
            <button class="btn btn-success btn-sm">Success</button>



        </form>
    </div>
    



    <script src="/js/bootrap.js"></script>  
</body>
</html>