#save {
    color: green;
    background-color: red;

}

.container {
    padding-left: 40px;
    padding-top: 40px;
}
h1{
    text-align: center;
}

td {
    padding-bottom: 10px;
}

input{
    height: 25px;

}